[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "lib/rapidjson"]
	path = lib/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "lib/pugixml"]
	path = lib/pugixml
	url = https://github.com/zeux/pugixml
